/*Start Global Rules */
:root {
  --main-color: #3b81c1;
  --color: #301a74;
  --section-color: #f9f9f9;
  --section-color-2: #f2f5f7;
  --color-head: #223d65;
  --color-text-1: #1f2a3e;
  --main-transition: 300ms;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: "Tajawal", sans-serif;
  color: var(--color-text-1);
  background-color: var(--section-color);
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
/*End Global Rules */
/* Start Helper Classes */
.row-gap-24 {
  row-gap: 24px;
}
/* End Helper Classes */
/* Start Components */
.bg-section {
  background-color: var(--section-color-2);
}
.title-and-sub .title {
  color: #353d4e;
  font-weight: 700;
}
.title-and-sub .sub {
  font-size: 19px;
  color: #353d4e;
  font-weight: 400;
}
.title-and-sub-blue .title {
  color: #0c1651;
  font-weight: 700;
}
.title-and-sub-blue .sub {
  color: #0c1651;
}
/* End Components */
/* start Header */
header .main-nav {
  padding: 15px 0;

  background-color: white;
}
header .main-nav ul {
  display: flex;
  gap: 10px;
}
header .main-nav ul a {
  padding: 0.3rem 1rem;
  color: var(--color-text-1);
  transition: var(--main-transition);
  font-size: 15px;
  text-align: center;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
header .main-nav ul a.active {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
header .main-nav ul a:hover:not(a.active) {
  color: #bbb;
}
header .main-nav .togg {
  color: black;
  outline: none;
  box-shadow: none;
  border: 1px solid #bbb;
}
header .main-nav .logo {
  width: 260px;
  max-width: 100%;
}
@media (max-width: 767px) {
  header .main-nav .logo {
    width: 200px;
  }
}
header .main-nav .logo img {
  width: 100%;
  height: auto;
}
/* End header*/
/* Start LAnding */
.landing {
  background-position: center center;
}

.landing .container {
  position: relative;
}

.landing ul.splide__pagination.splide__pagination--ltr {
  bottom: 15px !important;
}
.landing .splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 66vh;
  z-index: 1;
}
.landing .splide__slide .img-bg {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.landing .splide__slide .text .title {
  line-height: 78px;
  color: #071c3f;
  font-weight: 700;
  text-align: center;
}
.landing .splide__slide .text .p {
  color: #03122e;
  font-weight: 400;
}

button.splide__pagination__page {
  background-color: white !important;
  width: 10px !important;
  height: 10px !important;
}
button.splide__pagination__page.is-active {
  background-color: #255792 !important;
}
.landing button.splide__arrow.splide__arrow--next {
  background-color: transparent !important;
  opacity: 1 !important;
}
.landing button.splide__arrow.splide__arrow--next svg {
  fill: white !important;
  font-size: 23px;
}
.landing button.splide__arrow.splide__arrow--prev {
  background-color: transparent !important;
  opacity: 1 !important;
}
.landing button.splide__arrow.splide__arrow--prev svg {
  fill: white !important;
  font-size: 23px;
}
@media (max-width: 767px) {
  div#landing-slide {
    position: relative;
  }
}
/* End LAnding */
/* Start Info Section */
.inof-section {
  padding: 3.5rem 0;
}
.inof-section .logo {
  width: 77px;
  height: auto;
}
.inof-section .text-logo {
  font-size: 23px;
  margin-bottom: 0.6rem;
  color: #1f2a3e;
  font-weight: 700;
}
.inof-section .text {
  font-size: 22px;
  margin: 0;
  line-height: 27px;
  color: #50596c;
  font-weight: 400;
}
/* End Info Section */
/* Satrt Section Service */
.section-service .title-and-sub {
  max-width: 365px;
  text-align: center;
}
.section-service .title-and-sub {
  max-width: 365px;
  text-align: center;
}
@media (max-width: 767px) {
  .section-service .title-and-sub {
    max-width: 100%;
  }
}
.section-service .img {
  width: 100%;
  height: auto;
}
.section-service.service-bg-img {
  position: relative;
  z-index: 1;
  min-height: 63vh;
}
.section-service.service-bg-img .container {
  min-height: 63vh;
}
.section-service .bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.box-social {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.box-social .social-link {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #104c8a;
  color: #fff;
  border-radius: 3px;
  transition: var(--main-transition);
}

.box-social .social-link:hover {
  background-color: #1b74f2;
}

.site-footer .top-footer {
  position: relative;
  background-image: url("../img/land-slide-1.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  z-index: 1;
}
.site-footer .top-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #0f4a8c;
  opacity: 0.8;
}
.site-footer .top-footer .box-footer .title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}
.site-footer .top-footer .box-footer ul li {
  transition: var(--main-transition);
  margin-bottom: 5px;
}
.site-footer .top-footer .box-footer ul li:hover {
  padding-right: 10px !important;
}
.site-footer .top-footer .box-footer ul li a {
  color: #fff;
}
.site-footer .top-footer .box-footer ul li i,
.site-footer .top-footer .box-footer ul li svg {
  color: #03c4e3;
  margin-left: 10px;
  font-size: 17px;
}
.site-footer .top-footer .form-massage .inp-holder .massage-inp,
.site-footer .top-footer .form-massage .massage-area {
  border: none;
  outline: none;
  padding: 9px 10px;
  width: 100%;
  font-size: 14px;
  caret-color: #4a6a9d;
}
.site-footer .top-footer .form-massage .inp-holder .massage-inp::placeholder,
.site-footer .top-footer .form-massage .massage-area::placeholder {
  color: #4a6a9d;
  font-size: 14px;
  font-weight: 500;
}
.site-footer
  .top-footer
  .form-massage
  .inp-holder
  .massage-inp:focus::placeholder,
.site-footer .top-footer .form-massage .massage-area:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}
.site-footer .top-footer .form-massage .massage-area {
  border: none;
  outline: none;
  padding: 9px 10px;
  width: 100%;
  font-size: 13px;
  height: 100px;
}
.site-footer .bottom-footer {
  background-color: #01326a;
  width: 100%;
  color: #fff;
}
/* End Section Service */

.send-btn {
  background-color: #1462c7;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 40px;
  font-size: 14px;
  transition: var(--main-transition);
}

.send-btn:hover {
  background-color: #1158b5;
}

.main-color {
  color: #0f4b89;
}

.fs-14px {
  font-size: 14px;
}

.landing-contact {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url("../img/land-slide-1.jpg");
  background-size: cover;
  background-position: bottom;
  z-index: 1;
}
.landing-contact .box-content {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.landing-contact .box-content h4 {
  font-size: 30px;
}
.landing-contact .box-content p {
  font-size: 15px;
}

@media (min-width: 992px) {
  .landing-contact .box-content p {
    padding: 0 100px;
  }
}

.landing-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #0f4a8c;
  opacity: 0.5;
}

.breadcrumb .breadcrumb-item a {
  color: white;
}
.breadcrumb .breadcrumb-item a:hover {
  color: #e5e5e5;
}
.breadcrumb .breadcrumb-item.active {
  color: white;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #f5f5f5 !important;
}

.contact {
  background-color: #f8f8f8;
}
.contact .form-massage {
  background-color: white;
  padding: 10px 15px;
  box-shadow: 0 0 3px 0 #c9c9c94f;
}
.contact .form-massage .form-head {
  font-size: 19px;
  font-weight: 600;
  color: #939393;
  margin-bottom: 7px;
}
.contact .form-massage .form-des {
  font-size: 13px;
  width: 55%;
  color: #8f8f8f;
}
.contact .form-massage .inp-holder .massage-inp,
.contact .form-massage .massage-area {
  border: 1px solid #e5e5e5;
  outline: none;
  padding: 9px 10px;
  direction: rtl;
  width: 100%;
  font-size: 14px;
  caret-color: #4a6a9d;
}
.contact .form-massage .massage-area {
  height: 85px;
}

.contact .form-massage .inp-holder .massage-inp::placeholder,
.contact .form-massage .massage-area::placeholder {
  color: #4a6a9d;
  font-size: 13px;
  font-weight: 500;
}

.contact .form-massage .inp-holder .massage-inp:focus::placeholder,
.contact .form-massage .massage-area:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}
.contact .info li:not(:last-child) {
  margin-bottom: 10px;
}

.contact .info li .holder-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 3px 0 #c9c9c94f;
}
.contact .info li .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #638eb617;
}

.contact .info li .circle svg,
i {
  color: #6a8bad;
}

.contact .info li .text h6 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
  color: #626262;
}

.contact .info li .text p {
  margin-bottom: 0;
  font-size: 13px;
  color: #767676;
}

.map {
  background-color: white;
}
.map .heading-section {
  text-align: center;
  margin-bottom: 25px;
}

.map .heading-section h5 {
  font-size: 23px;
  font-weight: 600;
  color: #979090;
  margin-bottom: 10px;
}
.map .heading-section p {
  width: 50%;
  margin: 0 auto;
  color: #a5a5a5;
  font-size: 15px;
}

@media (max-width: 767.98px) {
  .map .heading-section p {
    width: 80%;
    margin: 0 auto;
    color: #a5a5a5;
    font-size: 15px;
  }
}

.landing-section {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.landing-section::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 80, 93, 0.5);
}

.landing-section.not-overlay::before {
  content: none;
}
.landing-section .img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  -o-object-fit: cover;
  object-fit: cover;
}
.landing-section.landing-layer {
  padding-bottom: 170px;
}

.landing-section.landing-layer .layer {
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
}

.landing-section.landing-layer .layer svg {
  height: 170px;
  width: 100%;
}

.landing-section.landing-layer {
  padding-bottom: 170px;
}
.landing-section.landing-layer .section-title {
  z-index: 1111;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -80%);
  color: white;
  font-weight: 600;
}
.landing-section.landing-layer .layer {
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  /* bottom: 0; */
  bottom: -40px;
}
.landing-section.landing-layer .layer svg {
  height: 170px;
  width: 100%;
}

.box-article {
  min-height: 450px;
  transition: 0.4s;
  position: relative;
  border: 1px solid #cfd6d7;
  border-radius: 10px;
}
.box-article .date-holder, .box-article .view-holder {
  z-index: 100;
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #3f5c74;
  padding: 9px 20px;
  border-radius: 0px 10px 0px 10px;
  color: #fff;
  font-size: 16px;
}
.box-article .date-holder i,
.box-article .date-holder svg, .box-article .view-holder i,
.box-article .view-holder svg {
  color: #fff;
}
.box-article .date-holder p, .box-article .view-holder p {
  margin-bottom: 0;
  font-weight: bold;
}
.box-article .view-holder {
  gap: 7px;
  right: auto;
  left: 0px;
  border-radius: 10px 0px 10px 0px;
  padding: 7px;
}
.box-article .img-holder {
  margin-bottom: 20px;
  border-radius: 10px;
}
.box-article .img-holder .img-article {
  border-radius: 10px;
  transition: transform, 0.4s;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 260px;
}
.box-article .text-holder {
  padding: 0px 15px 15px;
}
.box-article .text-holder .article-title {
  display: block;
  margin-bottom: 9px;
  transition: 0.3s;
  color: #3f5c74;
  font-size: 17px;
  font-weight: bold;
}
.box-article .text-holder .article-des {
  font-weight: 700;
  color: #757575;
  font-size: 13px;
  margin-bottom: 0%;
}
.box-article .share-holder {
  display: flex;
  align-items: center;
  gap: 10px;
}
.box-article .share-holder .circle {
  cursor: pointer;
  transition: 0.4s;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f5c74;
}
.box-article .share-holder .circle:hover {
  transform: translateY(-5px);
}
.box-article .share-holder .circle a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.box-article .share-holder .circle a i,
.box-article .share-holder .circle a svg {
  font-size: 17px;
}
.box-article.show-article {
  padding: 20px;
}
.box-article.show-article .date-holder {
  background-color: transparent;
  color: #3f5c74;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  border-radius: 6px;
  margin-bottom: 13px;
}
.box-article.show-article .img-holder {
  border-radius: 20px;
}
.box-article.show-article .img-holder .img-article {
  border-radius: 20px;
}
.box-article.show-article .text-holder {
  margin-bottom: 10px;
}
.box-article.show-article:hover .text-holder .article-title {
  color: #3f5c74;
}
.box-article.show-article:hover .img-holder .img-article {
  transform: scale(1);
}
.box-article:hover {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.19);
}
.box-article:hover .text-holder .article-title {
  color: #3a9eb7;
}
.box-article:hover .img-holder .img-article {
  transform: scale(1.04);
}

.box-article.show-article {
  padding: 20px;
}
.box-article.show-article .date-holder {
  background-color: transparent;
  color: #3f5c74;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  border-radius: 6px;
  margin-bottom: 13px;
}
.box-article.show-article .img-holder {
  border-radius: 20px;
}
.box-article.show-article .img-holder .img-article {
  border-radius: 20px;
}
.box-article.show-article .text-holder {
  margin-bottom: 10px;
}
.box-article.show-article:hover .text-holder .article-title {
  color: #3f5c74;
}
.box-article.show-article:hover .img-holder .img-article {
  transform: scale(1);
}
.box-article:hover {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.19);
}
.box-article:hover .text-holder .article-title {
  color: #3a9eb7;
}
.box-article:hover .img-holder .img-article {
  transform: scale(1.04);
}